#board {
    background-color: blue;
    padding-left: 50px;
    padding-top: 50px;
}

.normal {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.yellow {
    background-color: yellow;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.red {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}